table.wp-list-table {

	.wpc-notif-status-label {
		font-weight: bold;
	}

	tr {

		&.wpc-notif-active {
			background: rgba(0,255,0,0.04) !important;

			&.wpc-notif-sticky {
				background: rgba(254,255,162,0.5) !important;
			}
		}

		&.wpc-notif-deactivated {
			opacity: 0.5;

			&:hover {
				opacity: 1.0;
			}
		}

		&.wpc-notif-expired {
			background: rgba(255,0,0,0.04) !important;
		}

		&.wpc-notif-future {
			background: rgba(148,0,136,0.04) !important;
		}

		&.wpc-notif-pending {
			background: rgba(255,255,0,0.03) !important;
		}
	}
}

#wpc-notifications-status.postbox .inside {
	clear: both;
	margin: -7px 0 0 0 !important;
	padding: 0 !important;
}

.wpc-notif-status-wrapper {
	background: rgba(0,255,0,0.05);
	padding: 10px 20px;

	p {
		font-size: 1.4em;
	}

	&.wpc-notif-deactivated {
		background: rgba(0,0,0,0.05);
	}

	&.wpc-notif-expired {
		background: rgba(255,0,0,0.05);
	}

	&.wpc-notif-future {
		background: rgba(148,0,136,0.05);
	}

	&.wpc-notif-pending {
		background: rgba(255,255,0,0.08);
	}
}